.container{
  width: 100%;

}
.title{
  font-size: 26px;
  font-weight: bold;
  line-height: 30px;
  color: #0550b3;
  text-align: center;
}
.formContainer{
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  box-sizing: border-box;
  max-width: 413px;
  height: 528px;
  margin: 20px auto;
  padding: 20px;

  background-color: #fff;
  border: 1px solid #0891e7;
  border-radius: 10px;
  box-shadow: 0 -5px 10px 0 rgba(0, 0, 0, 0.5);

}

.countryError,
.cityError,
.streetError,
.housePasswordError {
  position: absolute;
  top:60px;

  /*display: flex;*/
  /*justify-content: center;*/

  width: 370px;

  font-size: 14px;
  font-style: italic;
  color: red;
}